@tailwind base;
@tailwind components;
@tailwind utilities;

html{

}

input{
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    padding-left: 20px;
    height: 40px;
    font-size: 12px;
    outline: 0;
}
input:hover {
    box-shadow: 1px 1px 3px 0px rgba(114, 114, 114, 0.5);
    transition: 0.2s ease-in;
}